<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hnust.dao.AddressMapper">
    <resultMap type="cn.hnust.domain.Address" id="baseResult">
        <id column="id" property="id"/>
        <result column="detail" property="detail"/>
        <result column="username" property="username"/>
        <result column="isDefault" property="is_default"/>
        <result column="postcode" property="postcode"/>
        <result column="tel" property="tel"/>
        <result column="acceptusername" property="acceptusername"/>
        <result column="status" property="status"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="area" property="area"/>
    </resultMap>
    <select id="query" parameterType="map" resultMap="baseResult">
        SELECT * FROM address a WHERE 1=1 AND status=1
        <include refid="querycondition"></include>
        <if test="orderBy !=null and orderBy !=''">
            order by ${orderBy}
        </if>
    </select>
    <sql id="querycondition">
        <if test="dto !=null">
            <if test="dto.username !=null and dto.username !=''">
                AND a.username=#{dto.username}
            </if>
            <if test="dto.id !=null and dto.id !=''">
                a.id=#{dto.id}
            </if>
        </if>
    </sql>
    <select id="findById" parameterType="java.lang.String" resultMap="baseResult">
        SELECT * FROM address WHERE id=#{id}
    </select>
    <update id="deleteById" parameterType="java.lang.String">
        update address
        <set>
            status=0
        </set>
        WHERE id=#{id}
    </update>
    <update id="update" parameterType="cn.hnust.domain.Address">
        UPDATE address
        <set>
            <if test="detail !=null and detail !=''">
                detail =#{detail},
            </if>
               <if test="postcode !=null and postcode !=''">
                postcode=#{postcode},
            </if>
            <if test="tel !=null and tel !=''">
                tel=#{tel},
            </if>
            <if test="isDefault !=null and isDefault !=''">
                is_default=#{isDefault},
            </if>
            <if test="acceptusername !=null and acceptusername !=''">
                acceptusername=#{acceptusername},
            </if>
           <if test="status !=null and status !=''">
                status=#{status},
            </if>
            <if test="province !=null and province !=''">
                province=#{province},
            </if>
            <if test="city !=null and city !=''">
                city=#{city},
            </if>
            <if test="area !=null and area !=''">
                area=#{area},
            </if>
        </set>
        WHERE id=#{id}
    </update>
    <insert id="insert" parameterType="cn.hnust.domain.Address">
        insert into address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !=null and id !=''">
                id,
            </if>
            <if test="detail !=null and detail !=''">
                detail,
            </if>
            <if test="username !=null and username !=''">
                username,
            </if>
            <if test="postcode !=null and postcode !=''">
                postcode,
            </if>
            <if test="tel !=null and tel !=''">
                tel,
            </if>
            <if test="isDefault !=null and isDefault !=''">
                is_default,
            </if>
             <if test="acceptusername !=null and acceptusername !=''">
                acceptusername,
            </if>
             <if test="province !=null and province !=''">
                province,
            </if>
            <if test="city !=null and city !=''">
                city,
            </if>
            <if test="area !=null and area !=''">
                area,
            </if>
       </trim>
       <trim prefix="values (" suffix=")" suffixOverrides="," >
           <if test="id != null and id !=''">
               #{id},
           </if>
            <if test="detail != null and detail !=''">
               #{detail},
           </if>
            <if test="username != null and username !=''">
               #{username},
           </if>
            <if test="postcode !=null and postcode !=''">
                #{postcode},
            </if>
            <if test="tel !=null and tel !=''">
                #{tel},
            </if>
            <if test="isDefault !=null and isDefault !=''">
                #{isDefault},
            </if>
             <if test="acceptusername !=null and acceptusername !=''">
                #{acceptusername},
            </if>
             <if test="province !=null and province !=''">
                #{province},
            </if>
            <if test="city !=null and city !=''">
                #{city},
            </if>
            <if test="area !=null and area !=''">
                #{area},
            </if>
       </trim>
    </insert>
    <update id="resetAddressDefault">
        update  address 
        <set>
            is_default='0'
        </set>
    </update>
</mapper>