<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hnust.dao.OrderMapper">
    <resultMap type="cn.hnust.domain.Order" id="baseResult">
        <id column="oid" property="oid"/>
        <result column="total" property="total"/>
       	<result column="state" property="state"/>
        <result column="uid" property="uid"/>
        <result column="address" property="address"/>
        <result column="date" property="date"/>
    </resultMap>
    <insert id="insert" parameterType="cn.hnust.domain.Order">
        INSERT INTO orders
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="oid !=null and oid !=''">
                oid,
            </if>
             <if test="state !=null and state !=''">
                state,
            </if>
             <if test="uid !=null and uid !=''">
                uid,
            </if>
            <if test="address !=null and address !=''">
                address,
            </if>
            <if test="total !=null and total !=''">
                total,
            </if>
             <if test="date !=null and date !=''">
               date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="oid !=null and oid !=''">
                #{oid},
            </if>
             <if test="state !=null and state !=''">
                #{state},
            </if>
             <if test="uid !=null and uid !=''">
                #{uid},
            </if>
            <if test="address !=null and address !=''">
                #{address},
            </if>
             <if test="total !=null and total !=''">
                #{total},
            </if>
              <if test="date !=null and date !=''">
               #{date},
            </if>
        </trim>
    </insert>
    <select id="query" parameterType="map" resultMap="baseResult">
        SELECT * FROM orders WHERE 1=1
        <include refid="queryCondition"></include>
        <if test="orderBy !=null and orderBy !=''">
            order by ${orderBy}
        </if>
    </select>
    <sql id="queryCondition">
        <if test="entitySQL !='' and entitySQL !=null">
            AND ${entitySQL}
        </if>
        <if test="dto !=null">
            <if test="dto.uid !=null and dto.uid !=''">
                AND uid=#{dto.uid}
            </if>
             <if test="dto.state !=null and dto.state !=''">
                AND state=#{dto.state}
            </if>
        </if>
    </sql>
    <update id="update" parameterType="cn.hnust.domain.Order">
        UPDATE orders
        <set>
            <if test="state !=null and state !=''">
                state=#{state},
            </if>
        </set>
        WHERE oid=#{oid}
    </update>
    <select id="queryCount" parameterType="map" resultType="Integer">
        SELECT COUNT(*) FROM orders WHERE 1=1
         <include refid="queryCondition"></include>
    </select>
    <select id="findById" parameterType="java.lang.String" resultMap="baseResult">
        SELECT * FROM orders WHERE oid=#{oid}
    </select>
    <delete id="remove" parameterType="java.lang.String">
        DELETE FROM orders WHERE oid=#{oid}
    </delete>
</mapper>