<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hnust.dao.OrderitemMapper">
    <resultMap type="cn.hnust.domain.Orderitem" id="baseResult">
        <id column="iid" property="iid"/>
        <result column="count" property="count"/>
        <result column="subtotal" property="subTotal"/>
       	<result column="oid" property="oid"/>
        <result column="bid" property="bid"/>
    </resultMap>
    <insert id="insert" parameterType="cn.hnust.domain.Orderitem">
        INSERT INTO orderitem
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="iid !=null and iid !=''">
                iid,
            </if>
             <if test="count !=null and count !=''">
                count,
            </if>
             <if test="subTotal !=null and subTotal !=''">
                subtotal,
            </if>
             <if test="oid !=null and oid !=''">
                oid,
            </if>
            <if test="bid !=null and bid !=''">
                bid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="iid !=null and iid !=''">
                #{iid},
            </if>
             <if test="count !=null and count !=''">
                #{count},
            </if>
             <if test="subTotal !=null and subTotal !=''">
                #{subTotal},
            </if>
             <if test="oid !=null and oid !=''">
                #{oid},
            </if>
            <if test="bid !=null and bid !=''">
                #{bid},
            </if>
        </trim>
    </insert>
    <select id="findByOid" parameterType="java.lang.String" resultMap="baseResult">
        SELECT * FROM orderitem where oid=#{oid}
    </select>
    <delete id="removeByoId" parameterType="java.lang.String">
        DELETE FROM orderitem where oid=#{oid}
    </delete>
</mapper>