<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hnust.dao.RoleMapper">
    <resultMap type="cn.hnust.domain.Role" id="baseResult">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="state" property="state"/>
    </resultMap>
    <select id="findByusername" parameterType="java.lang.String" resultMap="baseResult">
        SELECT r.* FROM role r,USER u,user_role ur WHERE ur.roleid=r.id AND ur.userid=u.uid AND u.username=#{username}
    </select>
    <select id="findByRoleName" parameterType="java.lang.String" resultMap="baseResult">
        SELECT * FROM role where name=#{rolename}
    </select>
    <insert id="addUser" parameterType="map">
        INSERT INTO user_role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId !=null and userId !=''">
                userId,
            </if>
             <if test="roleId !=null and roleId !=''">
                roleId,
            </if>
         </trim>
          <trim prefix="values (" suffix=")" suffixOverrides="," >
              <if test="userId !=null and userId !=''">
                #{userId},
            </if>
             <if test="roleId !=null and roleId !=''">
                #{roleId},
            </if>
          </trim>
    </insert>
    <delete id="removeUserFromAdmin" parameterType="java.lang.String">
        delete FROM user_role WHERE userid=#{uid}
    </delete>
</mapper>